:root{
    --primary-bg-color : #24303C;
    --acent-color: #1f53c5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-image: url(https://www.bbva.com/wp-content/uploads/2019/06/Marqueex2.png);
    background-size: contain;
    background-position: center;
}

.form-register {
    width: 400px;
    background: var(--primary-bg-color);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;    
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    }

.controls {
    width: 100%;
    background: var(--primary-bg-color);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid var(--acent-color);
    font-family: "calibri";
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    }

.form-register a {
    color:#fff;
    text-decoration: none;
}

.form-register a:hover {
    color:#fff;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background: var(--acent-color);
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 16px;

}

